.container{
    margin-top:100px;
    margin-left: 100px;
    width:1000px;    
}

img{
    width:20%;
}

row1{
    display:flex;
    
}

row2{
    display:flex;
}

button {
    display: inline-block;
    margin-left: 300px;
    margin-top: 20px;
    height: 40px;
    width: 120px;
    font-size: 20px;
}